*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #03a9f4;
  background: -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
  background: linear-gradient(145deg,#0D47A1,#42A5F5);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.screen-cut-background {
  background: url('/images/screen-cut.png'), -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
  background: url('/images/screen-cut.png'), linear-gradient(145deg,#0D47A1,#42A5F5);
  background-repeat: no-repeat no-repeat;
  background-position: 5em 40em, 0 0;
  background-size: 70em, cover;
  background-attachment: fixed, fixed;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 2em;
}

.layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

.column {
  flex: 1 1 100%;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  max-width: 100%;

  &:first-child .outro {
    display: none;
  }
}

hgroup {
  text-align: center;
}

.logo {
  margin: 0;
  font-weight: 300;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.1em;
  height: 35px;
}

.tagline {
  font-weight: 300;
  font-size: .9em;
  text-align: center;
  margin: 0;
}

.intro {
  font-size: 1.3em;
  text-align: center;
  line-height: 1.3;
  margin-top: 1em;
  font-weight: 300;

  strong {
    font-weight: 400;
  }

  span {
    display: none;
  }
}

label {
  display: inline-block;
  margin-bottom: 0.3em;
  font-size: 0.8em;
  line-height: 1.3;
  letter-spacing: 0.03em;
  position: relative;

  &.required {
    &:before {
      content: '*';
      position: absolute;
      color: red;
      right: -0.6em;
      top: -0.2em;
    }
  }
}

input, textarea {
  border: 0;
  margin-bottom: 0.4em;
  width: 100%;
}

input {
  font-size: 1.3em;
  padding: .5em 0.8em;
}

textarea {
  padding: 0.8em;
  font-size: 1em;
  height: 100px;
}

.submit-btn {
  display: block;
  background-color: rgb(121, 195, 167);
  color: #fff;
  border: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;

  i {
    padding: 0.35em 1em;
    font-size: 2.5em;
  }

  span { display: none; }

  &:hover {
    cursor: pointer;
    background-color: rgba(121, 195, 167, 0.8);
  }
}

.outro {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;

  a {
    color: #fff;
    text-decoration: none;
    border-bottom: dotted 1px #fff;
    font-weight: 500;
    display: inline-block;
  }
}

.card-box {
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 4em;
  width: 80%;
  max-width: 1000px;
  background: #fff;
  color: #444;
  padding: 1em;
  border-radius: 0.3em;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);

  h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1.5em;
  }

  h2 {
    font-size: 1.1em;
    margin-top: 2em;
  }
  p {
    line-height: 1.4;
  }
}

.copyright {
  text-align: center;
  padding-bottom: 2em;
  padding-top: 2em;
  font-size: 0.9em;
  a {
    color: #fff;
    text-decoration: none;
  }
}

@media (min-width: 600px) {
  .screen-cut-background {
    background-position: 30em 40em, 0 0;
  }

  .wrapper { padding-bottom: 8em; }
  .flex-container {
    height: 100%;
  }

  .layout { padding-top: 0; }

  .logo {
    margin-top: 3em;
  }

  .tagline { font-size: 1.2em; }

  .intro {
    margin-top: 1em;
    font-size: 1.8em;
    span { display: inline }
    strong { font-weight: 500; }
  }

  label {
    font-size: 1em;
  }

  input, textarea { margin-bottom: 0.6em; }
  input {
    font-size: 1.5em;
    padding: 0.5em 0.8em;
  }
  textarea { height: 150px; }

  .submit-btn {
    display: inline-block;
    width: 180px;

    .material-icons {
      display: inline-block;
      padding: .5em;
      padding-left: 0;
      padding-right: 0.3em;
      font-size: 2.3em;
    }

    span {
      font-size: 1.8em;
      display: inline-block;
      vertical-align: 25%;
    }
  }

  .outro {
    margin-top: 2em;
  }

  .card-box {
    padding: 2em;

    h1 {
      font-size: 2em;
    }
  }
}

@media (min-width: 900px) {

  .screen-cut-background {
    background-position: center bottom, 0 0;
  }

  .layout {
    flex-direction: row;
  }


  .column {
    max-width: 50%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;

    &:first-child {
      padding-top: 3em;

      .outro {
        display: block;
      }
    }
  }

  .logo {
    margin-top: 0;
  }

  .tagline { font-size: 1.2em; }
  .intro {
    font-size: 2em;
    margin-top: 1.5em;
    span { display: inline }
  }

  .outro {
    display: none;
  }

  .card-box {
    padding: 4em;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 80%;
  }

  .logo {
    height: 50px;
  }

  .card-box {
    padding: 5em;
  }
}
