html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #03a9f4;
  background: -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
  background: linear-gradient(145deg,#0D47A1,#42A5F5);
  color: #fff;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
  margin: 0;
  font-weight: 300;
  font-size: 4em;

  span {
    font-weight: 500;
  }
}

.tagline {
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  margin: 0;
}

.intro {
  font-size: 2em;
  width: 800px;
  text-align: center;
  line-height: 1.2;
  margin-top: 1em;
  font-weight: 300;

  strong {
    font-weight: 500;
  }
}

.email-input {
  border: 0;
  font-size: 1.5em;
  padding: .8em 2em;
  width: 300px;
  /* text-align: center; */
}

.submit-btn {
  background-color: rgb(121, 195, 167);
  color: #fff;
  border: 0;
  padding: 0;
  vertical-align: bottom;

  i {
    padding: 0.88em;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(121, 195, 167, 0.8);
  }
}

.outro {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 3em;

  a {
    color: #fff;
    text-decoration: none;
    border-bottom: dotted 1px #fff;
  }
}
